<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo, {{ user.name }}!</h1>
    <p>Email: {{ user.email }}</p>
    <p>Data de Nascimento: {{ user.birth_date }}</p>

    <a href="/visualizarperfil">Visualizar Perfil</a>
    <a href="/editarperfil">Editar Perfil</a>
    <a href="/deletarperfil">Deletar Perfil</a>
    <a href="/cadastrarlicao">Cadastrar Lição</a>
    <a href="/visualizarlicoes">Visualizar Lições</a>
    <a href="/editarlicao">Editar Lição</a>
    <a href="/sair">Sair da conta</a>

    <!-- Outros conteúdos da página -->

</body>
</html>