<body>
    <h1>Bem-vindo, {{ user.name }}!</h1>
    <p>Email: {{ user.email }}</p>
    <p>Data de Nascimento: {{ user.birth_date }}</p>

    <a href="/visualizarperfil">Visualizar Perfil</a>
    <a href="/editarperfil">Editar Perfil</a>
    <a href="/deletarperfil">Deletar Perfil</a>
    <a href="/cadastrarlicao">Cadastrar Lição</a>
    <a href="/licoes">Visualizar Lição</a>
    <a href="/sair">Sair da conta</a>
    <ul>
        {% for licao in licoes %}
            <li>
                <a href="{% url 'editar_licao' licao.id %}">Editar Lição</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Outros conteúdos da página -->
</body>