<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>
<body>
    <h2>Perfil do Usuário</h2>
    
    <!-- Exibe as informações do usuário logado -->
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Nome:</strong> {{ user.name }}</p>
    <p><strong>Data de Nascimento:</strong> {{ user.birth_date|date:"d/m/Y" }}</p>
    <p><strong>Ativo:</strong> {{ user.is_active|yesno:"Sim,Não" }}</p>
    

    <a href="{% url 'sair' %}">Logout</a>
    <a href="{% url 'editarperfil' %}">Editar Perfil</a>
    <a href="{% url 'deletarperfil' %}">Excluir Perfil</a>
    <a href=" {% url 'home' %}">Voltar</a>

</body>
</html>